<div data-role="view" data-title="Overview" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->
    <section style="padding:1em">
            <div class="content-wrapper">
                &nbsp;&nbsp;&nbsp;&nbsp;Roman shades are beautiful and functional. But there has been little written about the details of their construction. Until now -- tap "eBook" above. This little manual sets forth some standards for fit and finish that should be of considerable help to amateurs and to professionals as well.
            </div>
            <div class="content-wrapper">
                &nbsp;&nbsp;&nbsp;&nbsp;The second tab below gives access to the most accurate way to determine yardage needed for any roman shade project. Is there a pattern? No problem. The roman shade calculator will provide a graphic rendition of the fabric roll indicating exactly how the needed panels can be most effectively cut maintaining pattern consistency horizontally and vertically.
            </div>
            <div class="content-wrapper">
                &nbsp;&nbsp;&nbsp;&nbsp;The third tab links directly to the Sailrite Web Site. Here supplies can be ordered or information sought without leaving the App. Search for fabrics, consider alternatives, ask questions of the Sailrite staff -- and all this can be done without loosing your place in the ebook or the calculator.
            </div>
            <div class="content-wrapper">
                &nbsp;&nbsp;&nbsp;&nbsp;And the fourth tab gives access to all the Sailrite DIY roman shade videos. There is no better way to convey ideas and explain techniques than a carefully recorded video of the actual process.
            </div>
        </section>
    <!-- END_CUSTOM_CODE_homeView -->
</div>