<div data-role="view" data-title="Calculator" data-layout="main" data-model="app.calculator" data-show="app.calculator.onShow" data-after-show="app.calculator.afterShow">
    <div id="calculatorModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>

                    <label>Width of Shade
                        <input data-bind="value: calculatorModel.fields.width" type="number">
                    </label>

                </li>
                <li>

                    <label>Shade Length
                        <input data-bind="value: calculatorModel.fields.length" type="number">
                    </label>

                </li>
                <li>

                    <label>Quantity desired
                        <input data-bind="value: calculatorModel.fields.quantity" type="number">
                    </label>

                </li>
                <li>

                    <label>Width of fabric
                        <input data-bind="value: calculatorModel.fields.widthOfFabric" type="number">
                    </label>

                </li>
                <li>

                    <label>inches (ON for mm)
                        <input data-bind="value: calculatorModel.fields.unitswitch" data-role="switch">
                    </label>

                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Required</h4>
                </li>
                <li class="group-separator">
                    <h4 class="group-separator-header">Optional</h4>
                </li>
                <li>

                    <label>Horizontal repeat
                        <input data-bind="value: calculatorModel.fields.horizontal" type="number">
                    </label>

                </li>
                <li>

                    <label>Vertical repeat
                        <input data-bind="value: calculatorModel.fields.vertical" type="number">
                    </label>

                </li>
                <li>

                    <label>Edge allowance
                        <input data-bind="value: calculatorModel.fields.edgeAllowance" type="number">
                    </label>

                </li>
                <li>
                    <label>Shade style desired
                        <select data-bind="value: calculatorModel.fields.shadeStyle" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>

                    <label>Valance seed
                        <input data-bind="value: calculatorModel.fields.seed" type="number">
                    </label>

                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: calculatorModel.cancel }">Reset</a>
                <a class="primary" data-role="button" data-bind="events: { click: calculatorModel.submit }">Calculate</a>
            </div>
        </form>
        <!-- START_CUSTOM_CODE_calculatorModel -->
        <!-- END_CUSTOM_CODE_calculatorModel -->
    </div>
    <!-- START_CUSTOM_CODE_calculator -->
    <!-- END_CUSTOM_CODE_calculator -->
</div>